@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$font-familty: 'Inter', sans-serif;
$body-font-familty: 'Inter', sans-serif;
$heading-font-familty: 'Inter', sans-serif;
@import '../../node_modules/vuetify/_styles.scss';